/*! CSS */

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  /*background-color: #f1f1f1;*/
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: hidden;
  -ms-scroll-chaining: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header {
  z-index: 1 !important;
}

img {
  border-bottom: 0;
  margin: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   #busy {
    background-color: rgba(255,255,255,.75);
    position: fixed;
    display: block;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
   }

   #spinner {
     -webkit-animation: spinner 1.2s linear infinite;
    animation: spinner 1.2s linear infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/web/loader.png);
    background-size: 100%;
    margin-left: -90px;
    margin-top: -90px;
    position: absolute;
    height: 180px;
    width: 180px;
    left: 50%;
    top: 50%;
   }

   @-webkit-keyframes spinner {

     100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }

   }

   @keyframes spinner {

     100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }

   }

   #content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
   }

   .app-container {
     position: absolute;
     bottom: 0;
     right: 0;
     left: 0;
     z-index: 1;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }

   .canvas-container {
     position: relative;
     bottom: 180px;
     width: 100%;
     max-width: 600px;
     max-height: 720px;
     margin: 0 auto;
     -webkit-transform-origin: 50% bottom;
             transform-origin: 50% bottom;
     z-index: 98;
   }

   .sizer {
    position: relative;
    width: 100%;
    padding-top: 120%;
   }

   #Pcanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   }

   .canvas-class {
     width: 100%;
     height: 100%;
   }

   .footer {
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
   }

   .menu {
     height: 80px;
     padding-top: 16px;
     text-align: center;
   }

   .over-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 68.5px;
    height: 66px;
    z-index: 99;
  }

  .modal {
  position: absolute;
  text-align: center;
  background-color: #fbf7f4;
  max-width: 555px;
  max-height: 720px;
  z-index: 99;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-shadow: 0 0.35em 25px 0 rgba(0,0,0,.15 );
  border-bottom: 3px solid #d4d2d3;
  border-radius: 4px 4px 4px 4px;
  margin: 0px 0px 20px;
  padding: 0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: hidden;
  -ms-scroll-chaining: none;
}

.modal-ul {
  text-align: left;
}

.modal-photo {
  color: rgb(67, 74, 84);
  height: 200px;
  width: 555px;
  overflow: hidden;
}

.preview {
  margin: 0 auto;
  width: 280px;
  height: 380px;
  background: white;
  border-bottom: 2.5px solid #d4d2d3;
}

.preview > img {
  position: relative;
  height: 324px;
  width: 270px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-photo > img {
  vertical-align: middle;
  border-radius: 4px 4px 0 0;
}

.modal-contents {
  padding: 20px 20px 0 20px;
}

.modal-menu {
  position: absolute;
  left: 0;
  right: 0;
}

.fade-bk {
  background-color: rgba(255,255,255,.9);
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#text-field {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .modal {
  left: 0;
  top: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: hidden;
  -ms-scroll-chaining: none;
}



}

#social-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 99;
}

.social-btns {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #F4821F;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 0 0 #D1D1CF;
  padding: 4px;
  margin-bottom: 5px;
}

.social-btns:hover{
    opacity: 0.75;
 }

#facebook {
background-color: #3b5998;
}

#twitter {
background-color: #55ACEE;
}

#pinterest {
background-color: #cb2027;
}

#instagram {
background-color: #517fa4;
}

#googleplus {
background-color: #d34836;
}

#indicator {
  display: none;
  z-index: 99;
  position: absolute;
  bottom: -40px;
  right: 20%;
  opacity: 0;
}

#mouse {
  display: none;
}

@media screen and (min-width: 1050px) {

  #indicator {
    bottom: 20px;
  }

  #mouse {
    display: block;
  }

  #finger {
    display: none;
  }
}

#img-indicator {
  position: absolute;
height: 75px;
 width: 75px;
 bottom: 50%;
 right: 23%;
 -webkit-transform: rotate(3deg);
 transform: rotate(3deg);
 background: #ff3939;
 box-shadow: 2px 3px 0 0 rgba(0,0,0,.2);
 color: #fff;
 font-family: Kent4F,Open Sans Bold Italic,Helvetica Neue,Helvetica,Arial,sans-serif;
 font-size: 9pt;
 text-align: center;
 border-radius: 50%;
 padding: 20px 1px 1px 1px;
}

   /* ==========================================================================
     LORY
     ========================================================================== */

   /**
    * (optional) define here the style definitions which should be applied on the slider container
    * e.g. width including further controls like arrows etc.
    */

   .slider {
      background-color: #FBF7F4;
      position: relative;
      height: 100px;
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
      -ms-touch-action: none;
   }

   .frame {
       /**
        * (optional) wrapper width, specifies width of the slider frame.
        */
        position: relative;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-touch-action: none;
   }

   .slides {
       display: inline-block;
       -ms-touch-action: none;
   }

   li {
       position: relative;
       display: inline-block;
       -ms-touch-action: none;
   }

   .prev, .next {
     position: absolute;
     top: 50%;
     margin-top: -40px;
     display: block;
     cursor: pointer;
   }

   .next:hover, .prev:hover {
     opacity: 0.75;
   }

   .next {
       right: 0;
   }

   .prev {
       left: 0;
       visibility: hidden;
   }

   .next svg, .prev svg {
       width: 50px;
   }

   .sprite-night { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../img/web/night.png'); }

   .night-moon { width: 93px; height: 134px; background-position: -1px -1px; }
   .night-star { width: 31px; height: 34px; background-position: -1px -135px; }

   .sprite-icons { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../img/web/icons.png'); -ms-touch-action: none;}

   .icons-42 { width: 101px; height: 101px; background-position: -1px -1px; }
   .icons-1 { width: 100px; height: 100px; background-position: -104px -1px; }
   .icons-10 { width: 100px; height: 100px; background-position: -206px -1px; }
   .icons-11 { width: 100px; height: 100px; background-position: -308px -1px; }
   .icons-12 { width: 100px; height: 100px; background-position: -104px -103px; }
   .icons-13 { width: 100px; height: 100px; background-position: -1px -104px; }
   .icons-14 { width: 100px; height: 100px; background-position: -206px -103px; }
   .icons-15 { width: 100px; height: 100px; background-position: -308px -103px; }
   .icons-16 { width: 100px; height: 100px; background-position: -103px -205px; }
   .icons-17 { width: 100px; height: 100px; background-position: -1px -206px; }
   .icons-18 { width: 100px; height: 100px; background-position: -205px -205px; }
   .icons-19 { width: 100px; height: 100px; background-position: -307px -205px; }
   .icons-2 { width: 100px; height: 100px; background-position: -409px -205px; }
   .icons-20 { width: 100px; height: 100px; background-position: -103px -307px; }
   .icons-21 { width: 100px; height: 100px; background-position: -1px -308px; }
   .icons-22 { width: 100px; height: 100px; background-position: -205px -307px; }
   .icons-23 { width: 100px; height: 100px; background-position: -307px -307px; }
   .icons-24 { width: 100px; height: 100px; background-position: -409px -307px; }
   .icons-25 { width: 100px; height: 100px; background-position: -103px -409px; }
   .icons-26 { width: 100px; height: 100px; background-position: -1px -410px; }
   .icons-27 { width: 100px; height: 100px; background-position: -205px -409px; }
   .icons-28 { width: 100px; height: 100px; background-position: -307px -409px; }
   .icons-29 { width: 100px; height: 100px; background-position: -409px -409px; }
   .icons-3 { width: 100px; height: 100px; background-position: -103px -511px; }
   .icons-30 { width: 100px; height: 100px; background-position: -1px -1022px; }
   .icons-31 { width: 100px; height: 100px; background-position: -205px -511px; }
   .icons-32 { width: 100px; height: 100px; background-position: -307px -511px; }
   .icons-33 { width: 100px; height: 100px; background-position: -409px -511px; }
   .icons-34 { width: 100px; height: 100px; background-position: -103px -613px; }
   .icons-35 { width: 100px; height: 100px; background-position: -307px -1123px; }
   .icons-36 { width: 100px; height: 100px; background-position: -205px -613px; }
   .icons-37 { width: 100px; height: 100px; background-position: -307px -613px; }
   .icons-38 { width: 100px; height: 100px; background-position: -409px -613px; }
   .icons-39 { width: 100px; height: 100px; background-position: -103px -715px; }
   .icons-4 { width: 100px; height: 100px; background-position: -1px -716px; }
   .icons-40 { width: 100px; height: 100px; background-position: -205px -715px; }
   .icons-41 { width: 100px; height: 100px; background-position: -307px -715px; }
   .icons-43 { width: 100px; height: 100px; background-position: -409px -715px; }
   .icons-44 { width: 100px; height: 100px; background-position: -103px -817px; }
   .icons-45 { width: 100px; height: 100px; background-position: -1px -818px; }
   .icons-46 { width: 100px; height: 100px; background-position: -205px -817px; }
   .icons-47 { width: 100px; height: 100px; background-position: -307px -817px; }
   .icons-48 { width: 100px; height: 100px; background-position: -409px -817px; }
   .icons-49 { width: 100px; height: 100px; background-position: -1px -920px; }
   .icons-5 {  width: 100px; height: 100px; background-position: -1px -512px;  }
   .icons-50 { width: 100px; height: 100px; background-position: -1px -1124px; }
   .icons-51 { width: 100px; height: 100px; background-position: -103px -919px; }
   .icons-52 { width: 100px; height: 100px; background-position: -103px -1021px; }
   .icons-53 { width: 100px; height: 100px; background-position: -103px -1123px; }
   .icons-54 { width: 100px; height: 100px; background-position: -103px -1225px; }
   .icons-55 { width: 100px; height: 100px; background-position: -205px -919px; }
   .icons-56 { width: 100px; height: 100px; background-position: -307px -919px; }
   .icons-57 { width: 100px; height: 100px; background-position: -409px -919px; }
   .icons-58 { width: 100px; height: 100px; background-position: -205px -1021px; }
   .icons-59 { width: 100px; height: 100px; background-position: -205px -1123px; }
   .icons-6 { width: 100px; height: 100px; background-position: -205px -1225px; }
   .icons-60 { width: 100px; height: 100px; background-position: -307px -1021px; }
   .icons-61 { width: 100px; height: 100px; background-position: -409px -1021px; }
   .icons-7 { width: 100px; height: 100px; background-position: -1px -614px; }
   .icons-8 { width: 100px; height: 100px; background-position: -307px -1225px; }
   .icons-9 { width: 100px; height: 100px; background-position: -409px -1123px; }
   .icons-62 { width: 100px; height: 100px; background-position: -409px -1225px; }

   .gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -ms-touch-action: none;
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.transparent {
  opacity: 0.5;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
