/*! CSS */

html, body {
  width:  100%;
  margin: 0px;
  overflow-x: hidden;
  background: #fbf7f4;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header[role=banner] {
  z-index: 1;
  padding-top: 25px;
}


img {
  border-bottom: 0;
  margin: 0;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.home-background {
  background: #FBF7F4;
  position: absolute;
  display: block;
  width: 100%;
  height: 30%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: cover;
  background-position: 50% 80%;
}

.home-fader {
  background-image: -webkit-linear-gradient(top, rgba(251,247,243,0.00) 1%, #FBF7F4 97%);
  background-image: linear-gradient(-180deg, rgba(251,247,243,0.00) 1%, #FBF7F4 97%);
  height: 100px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.grid-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.home-boxes {
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 6px;
  border-bottom: 2px solid #d4d2d3;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.first-box {
}

.home-title {
  font-family: Mr Lucky FillAndOutline;
  font-size: 40px;
  margin: 0.3em 0 0.5em 0;
}

.second-box {
  max-height: 400px;
}

.callout-number {
  position: relative;
  top: 11px;
  height: 50px;
  width: 50px;
  margin-bottom: 1.4em;
  background: #1BBEBF;
  box-shadow: 2px 3px 0 0 rgba(0,0,0,.2);
  border-radius: 50%;
}

.callout-number h3 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%);
}

.third-box {
}

.third-box a {
  width: 60px !important;
}

.third-box h3:first-child {
  margin: 0.5em 0 0 0;
}

.third-box p {
  margin: 0 0.5em 0.5em 0.5em;
}

.home-panel {
  position: relative;
  top: -2.4em;
  float: left;
  width: 50%;
  margin-bottom: -3em;
}

.home-panel .second {
  float: right;
}

.home-panel-wrap {
  overflow: visible;
}

.img-sizer {
  position: relative;
  top: -0.5em;
  max-width: 160px;
  margin: 0 auto;
}

.home-background header[role=banner] a.logo {
  background: url(../img/web/logo_white-cloud.png) no-repeat 0 0;
  background-size: 222px;
  height: 110px;
}

@media screen and (min-width: 900px) {
  .home-background header[role=banner] a.logo {
    display: block;
    height: 137px;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    position: relative;
    top: -2em;
    background-size: 280px;
    width: 285px;
  }

  .home-background {
    background-image: url('../img/web/background.jpg');
    height: 70%;
    background-position: 50% 60%;
  }

  .grid-container {
    overflow: visible;
  }

  .home-boxes {
    float: left;
  }

  .intro-text {
    font-size: 14pt;
    margin: 0.7em;
    padding: 0 10px;
  }

  .third-box {
    width: calc(25% - 20px);
  }

  .second-box {
    width:calc(40% - 20px);
  }

  .first-box {
    width: calc(35% - 20px);
  }

  .grid-container {
    max-width: 1280px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40%;
  }

  .home-fader {
    height: 200px;
  }
}

#social-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 99;
}

.social-btns {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #F4821F;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 0 0 #D1D1CF;
  margin-bottom: 5px;
}

.social-btns svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#facebook {
background-color: #3b5998;
}

#twitter {
background-color: #55ACEE;
}

#pinterest {
background-color: #cb2027;
}

#instagram {
background-color: #517fa4;
}

#googleplus {
background-color: #d34836;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.transparent {
  opacity: 0.5;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
