/*! CSS */

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  /*background-color: #f1f1f1;*/
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: hidden;
  -ms-scroll-chaining: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header {
  z-index: 1 !important;
}

img {
  border-bottom: 0;
  margin: 0;
}

.home-background {
  background-image: url('../img/web/background-small.jpg');
  position: absolute;
  display: block;
  width: 100%;
  height: 30%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: cover;
  background-position: 50% 80%;
}

.home-fader {
  background-image: -webkit-linear-gradient(top, rgba(251,247,243,0.00) 1%, #FBF7F4 97%);
  background-image: linear-gradient(-180deg, rgba(251,247,243,0.00) 1%, #FBF7F4 97%);
  height: 100px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.home-bottom {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fbf7f4;
}

.grid-container {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 400px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50.75%);
          transform: translateX(-50.75%);
  bottom: 0.5%;
}

.home-boxes {
  text-align: center;
  float: left;
  display: block;
  background-color: #fff;
  border-radius: 6px;
  border-bottom: 2px solid #d4d2d3;
  margin: 0 0.8% 6% 0.8%;
}

.first-box {
  width: 100%;
}

.home-title {
  font-family: Mr Lucky FillAndOutline;
  font-size: 40px;
  margin: 0.3em 0 0.5em 0;
}

.second-box {
  width: 100%;
  max-height: 400px;
}

.callout-number {
  position: relative;
  top: 11px;
  height: 50px;
  width: 50px;
  margin-bottom: 1.4em;
  background: #1BBEBF;
  box-shadow: 2px 3px 0 0 rgba(0,0,0,.2);
  border-radius: 50%;
}

.callout-number h3 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%);
}

.third-box {
  width: 100%;
}

.home-panel {
  position: relative;
  top: -2.4em;
  float: left;
  width: 50%;
  margin-bottom: -3em;
}

.home-panel p {
  position: relative;
  top: -0.5em;
}

.home-panel-wrap {
  display: block;
  clear: both;
  width: 100%;
}

.img-sizer {
  position: relative;
  top: -0.5em;
  max-width: 160px;
  margin: 0 auto;
}

.logo {
  display: none !important;
  background: transparent !important;
}

#CTA h3:first-child {
  margin: 0.5em 0 0 0;
}

#CTA p {
  margin: 0 0.5em 0.5em 0.5em;
}

@media screen and (max-width: 350px) {
  .grid-container {
    -webkit-transform: translateX(-50%) translateY(10%) scale(0.8);
            transform: translateX(-50%) translateY(10%) scale(0.8);
  }
}

@media screen and (max-width: 450px) {
#CTA {
  display: none;
}
.third-box {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
  margin: 0;
}
}


@media screen and (min-width: 599px) {
  .home-background {
    background-image: url('../img/web/background.jpg');
    height: 40%;
    background-position: 50% 90%;
  }

  .logo {
    display: block !important;
    background: url('../img/web/logo_white-cloud.png') no-repeat 0 0 !important;
    background-size: 292.5px !important;
    height: 137px !important;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    position: relative;
    top: -2em;
    right: 2em;
  }
}

@media screen and (min-width: 900px) {
  .home-background {
    height: 70%;
    background-position: 50% 60%;
  }

  .intro-text {
    font-size: 14pt;
    margin: 0.7em;
  }

  .third-box {
    width: 25%;
  }

  .second-box {
    width: 35.05%;
  }

  .first-box {
    width: 35.05%;
  }

  .grid-container {
    width: 100%;
    max-width: 1280px;
    bottom: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .logo {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .home-fader {
    height: 200px;
  }
}

#social-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 99;
}

.social-btns {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #F4821F;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 0 0 #D1D1CF;
  margin-bottom: 5px;
}

.social-btns svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#facebook {
background-color: #3b5998;
}

#twitter {
background-color: #55ACEE;
}

#pinterest {
background-color: #cb2027;
}

#instagram {
background-color: #517fa4;
}

#googleplus {
background-color: #d34836;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.transparent {
  opacity: 0.5;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
