/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.1 {max-width:93px; max-height:134px; }
.1::after {content: ' ';display: inline-block; width:93px; height:134px; background-position: 50% 2.7027027027027026%;background-size: 102.15053763440861% 127.61194029850746%;background-image: url(night.png);padding: 0; }
div.1::after {max-width:93px; width:100%;height:0;padding: 0 0 144.08602150537635% 0;}
.2 {max-width:31px; max-height:34px; }
.2::after {content: ' ';display: inline-block; width:31px; height:34px; background-position: 1.5625% 99.27007299270073%;background-size: 306.4516129032258% 502.94117647058823%;background-image: url(night.png);padding: 0; }
div.2::after {max-width:31px; width:100%;height:0;padding: 0 0 109.6774193548387% 0;}

/* $TexturePacker:SmartUpdate:62d575bba721463338e0575652b02ab5:f929b60a6fc4d2c95e4798bc7558b016:0751eb1733b7a6c8b9851a1e39d4ae7c$ */
