@import url("//hello.myfonts.net/count/303c97");

@font-face {
  font-family: "FFScalaSansWebProRegular";
  src: url("/assets/fonts/303C97_0_0.woff2") format("woff2"),
       url("/assets/fonts/303C97_0_0.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "FFScalaSansWebProBold";
  src: url("/assets/fonts/303C97_1_0.woff2") format("woff2"),
       url("/assets/fonts/303C97_1_0.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Kent4F";
  src: url("/assets/fonts/303C97_6_0.woff2") format("woff2"),
       url("/assets/fonts/303C97_6_0.woff") format("woff");
  font-style: normal;
}

$font-base: "FFScalaSansWebProRegular";
$font-bold: "FFScalaSansWebProBold";
$heading-sans: "Kent4F";

// Bulma override body font

$family-sans-serif: $font-base, "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
