@import url("//hello.myfonts.net/count/303c97");

@font-face {
  font-family: "FFScalaSansWebProRegular";
  src: url("/assets/fonts/303C97_0_0.woff2") format("woff2"),
       url("/assets/fonts/303C97_0_0.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "FFScalaSansWebProBold";
  src: url("/assets/fonts/303C97_1_0.woff2") format("woff2"),
       url("/assets/fonts/303C97_1_0.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Kent4F";
  src: url("/assets/fonts/303C97_6_0.woff2") format("woff2"),
       url("/assets/fonts/303C97_6_0.woff") format("woff");
  font-style: normal;
}

$font-base: "FFScalaSansWebProRegular";
$font-bold: "FFScalaSansWebProBold";

$heading-sans: "Kent4F";

// We use a mixin for the Kent4F font for setting the letter spacing consistantly
@mixin heading-sans{
  font-family: $heading-sans, $family-sans-serif;
  letter-spacing: 1px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body;
  font-family: $font-base, $family-sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  @include heading-sans();
  margin: 0 0 $small-spacing 0;
  font-weight: 400;
  color: $main;
  text-transform: uppercase;
  line-height: 1;
  small{ font-size: 60%;}
}

h1{font-size: 36px;}
h2{font-size: 30px;}
h3{font-size: 26px;}
h4, h5, h6{
  font-size: 18px;
  margin-bottom: $small-spacing;
}
h5{font-size: 16px;}
h6{font-size: 14px;}

p {margin: 0 0 $small-spacing 0;}

strong, b{
  font-family: $font-bold, $family-sans-serif;
  font-weight: 400;
}

a {
  color: $main;
  text-decoration: underline;
  transition: color 0.1s linear;

  &:active, &:focus, &:hover {
    color: $main;
    text-decoration: none;
  }

  &:active, &:focus {
    outline: none;
  }
}
