// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 12px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Colours
$red-light: #EE3D3E;
$red-dark: #BD232B;

$turq: #1EBCBD;
$turq-light: #83D1E1;
$turq-dark: #098C9A;

$yellow-light: #FFE546;
$yellow-dark: #FEC10E;

$grey-dark: #3F4C4E;
$grey-medium: #566565;

$green-light: #A5CD38;
$green-dark: #50B748;

$orange-light: #F58A1E;
$orange-dark: #F05A22;

$brown-light: #C49A6C;
$brown-dark: #6C4C36;

$pink-light: #F186B6;
$pink-dark: #ED3D95;

$purple-light: #A787BD;
$purple-dark: #723995;

$blue-light: #0071BB;
$blue-dark: #284081;

// Site Colours
$body: #777c7f; // Light Grey
$bg-darker: #f7f2ee;
$bg: #fbf7f4; // Beige

$border: #d4d2d3; // Border Grey
$border-darker: #A6A6A6;

// Social Colours
$facebook: #3b5998;
$twitter: #55ACEE;
$instagram: #8a3ab9;
$pinterest: #cb2027;

//// Bulma overrides

$body-size: 18px;

$orange: $orange-light;
$yellow: $yellow-dark;
$green: $green-dark;
$turquoise: $turq;
$cyan: $pink-dark;
$blue: $blue-light;
$purple: $purple-dark;
$red: $red-light;
$grey: $grey-medium;

$primary: $turq;
$info: $purple-dark;
$success: $green-dark;
$warning: $pink-dark;
$danger: $red-light;
$warning-invert: #FFFFFF;

$link: $turq;
$link-hover: $turq-dark;
$link-focus: $turq-dark;
$link-active: $turq-dark;
$link-focus-border: $yellow-dark;

// Navbar
$navbar-background-color: transparent;
$navbar-offset: 4.25em;

// Buttons
$radius-small: 0;
$radius: 0;
$radius-large: 0;
