.landing-page {
  background-color: $blue-light;
  position: absolute;
  left: 0;
  right: 0;
  top: $navbar-offset;
  bottom: 0;
  border-bottom: 9px solid $blue-dark;
}

.splat-background {

}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  @media screen and (min-width: $tablet) {
    max-width: 1280px;
    max-height: 600px;
    padding: 2em;
  }
  z-index: 10;
}

.cta-tile {
  flex: none;
}
