.navbar {
  border-top: 9px solid $blue-light;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-brand {
  width: 100%;
}

.navbar-item, .navbar-burger {
  pointer-events: all;
  &:hover {
    color: $turq;
  }
}

.navbar-burger.is-active span {
  color: $white;
}

.navbar-burger span {
  pointer-events: none;
  height: 6px;
  width: 34px;
  left: calc(50% - 17px);
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 15px);
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 4px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 7px);
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.navbar-burger {
  z-index: 1;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.menu-circle {
  display: none;
  background-color: $blue-light;
  width: 3.25em;
  height: 3.25em;
  right: 0.2em;
  top: 0.2em;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
// cubic-bezier(0.19, 1, 0.22, 1)

.menu-circle.is-active {
  transform: scale(40);
  @media screen and (min-width: $tablet) {
    transform: scale(50);
  }
  @media screen and (min-width: $desktop) {
    transform: scale(60);
  }
}

.nav-menu-active {
  display: none;
  opacity: 0;
  background-color: $blue-light;
  color: $white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  padding: 1em;
  padding-top: 5em;
  pointer-events: none;
}

.nav-menu-active.is-active {
  opacity: 1;
  pointer-events: all;
}

.goto-toucan, .social-container {
  padding: 1em;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1em;
  pointer-events: all;
}

.goto-toucan {
  background-color: $pink-dark;
  color: $white;
  @include heading-sans();
  font-size: 20px;
  padding-bottom: 1.1em;
  &:hover {
    color: $yellow-light;
  }
}

.social-container {
  background-color: $white;
}

.social-btns {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: $turq;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.social-btns svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-btns:hover{
    transform: scale(1.2);
 }

#facebook {
background-color: #3b5998;
}

#twitter {
background-color: #55ACEE;
}

#pinterest {
background-color: #cb2027;
}

#instagram {
background-color: #517fa4;
}

#googleplus {
background-color: #d34836;
}
