background-color: #1EBCBD;
    background-image: linear-gradient(transparent 70%, rgba(0,163,172,1) 50%);
    background-size: 50px 20px;


    background-color: #F58A1E;
background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(240,90,34,0.5) 10px, rgba(240,90,34,0.5)15px);
