.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $orange-light;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(240,90,34,0.5) 10px, rgba(240,90,34,0.5)15px);
  max-width: 555px;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: hidden;
  -ms-scroll-chaining: none;
  text-align: center;
  @media screen and (min-width: $tablet) {
    overflow-y: hidden;
    max-width: 768px;
    max-height: 540px;
  }
}

.modal-cancel-button {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: -1px;
  top: -1px;
  cursor: pointer;
  &:hover, &:focus, &:active {
    background-color: $turq;
  }
  span {
    position: absolute;
    height: 6px;
    width: 34px;
    left: calc(50% - 18px);
    display: block;
    background-color: $white;
    &:nth-child(1) {
      top: calc(50% - 14px);
      transform: translateY(11px) rotate(45deg);
    }
    &:nth-child(2) {
      top: calc(50% + 8px);
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}

.print-blurb {
  h2 {
    color: $white;
  }
  p {
    padding: 0.75em;
    color: $white;
    background-color: $turq;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  a {
    color: $pink-dark;
  }
  ul {
    text-align: left;
    padding: 0.75em;
    color: $white;
    background-color: $turq;
    margin-bottom: 1em;
  }
}

.content-group-a,
.content-group-b,
.name-input-wrap,
.options-wrap-desktop {
  @media screen and (min-width: $tablet) {
    flex-grow: 1;
    width: 50%;
  }
}

.preview {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 380px;
  background: white;
  border-bottom: 2.5px solid #d4d2d3;
  margin-bottom: 1em;
}

.preview > img {
  position: relative;
  height: 324px;
  width: 270px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-contents {
  padding: 20px 20px 0;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.modal-menu {
  background-color: $green-light;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .options-wrap-desktop {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
    }
    .print-do {
      margin-right: 10px;
    }
  }
  .options-wrap-mobile {
    @media screen and (min-width: $tablet) {
      display: none;
    }
    button {
      padding: 0;
      min-height: 60px;
    }
  }
}

.name-input-wrap {
  padding: 0.5em 1em;
  label {
    @include heading-sans();
    color: $white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    display: block;
  }
  input {
    margin-bottom: 0.5em;
  }
}


.fade-bk {
  opacity: 0;
  background-color: rgba(255,255,255,.9);
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#img-indicator {
  position: absolute;
  height: 75px;
  width: 75px;
  bottom: 50%;
  right: -25px;
  transform: rotate(3deg);
  background: $red;
  box-shadow: 2px 3px 0 0 rgba(0,0,0,.2);
  color: $white;
  font-family: Kent4F,Open Sans Bold Italic,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 9pt;
  text-align: center;
  border-radius: 50%;
}

#img-indicator > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
