#busy {
 background-color: rgba(255,255,255,.75);
 position: fixed;
 display: block;
 z-index: 100;
 bottom: 0;
 right: 0;
 left: 0;
 top: 0;
}

#spinner {
  -webkit-animation: spinner 1.2s linear infinite;
 animation: spinner 1.2s linear infinite;
 background-position: center;
 background-repeat: no-repeat;
 background-image: url(../img/web/loader.png);
 background-size: 100%;
 margin-left: -90px;
 margin-top: -90px;
 position: absolute;
 height: 180px;
 width: 180px;
 left: 50%;
 top: 50%;
}

@-webkit-keyframes spinner {

  100% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
   }

}

@keyframes spinner {

  100% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
   }

}
