/* ==========================================================================
  LORY
  ========================================================================== */

/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */

.slider {
   background-color: transparent;
   position: relative;
   height: 100px;
   -ms-touch-action: none;
}

.slider-background-up, .slider-background-down {
  position: absolute;
  left: 0;
  right: 0;
}

.slider-background-up {
  bottom: 6px;
  height: 44px;
  background-color: $blue-light;
}

.slider-background-down {
  bottom: 0px;
  height: 6px;
  background-color: $blue-dark;
}

.frame {
    /**
     * (optional) wrapper width, specifies width of the slider frame.
     */
     position: relative;
     font-size: 0;
     line-height: 0;
     overflow: hidden;
     white-space: nowrap;
     -ms-touch-action: none;
}

.slides {
    display: inline-block;
    -ms-touch-action: none;
}

li {
    position: relative;
    display: inline-block;
    -ms-touch-action: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  display: block;
  cursor: pointer;
  transition: transform 1s ease;
}

.next:hover, .prev:hover {
  transform: scale(1.2);
}

.next {
    right: 0;
}

.prev {
    left: 0;
    visibility: hidden;
}

.next svg, .prev svg {
    width: 50px;
}
