<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4GB6D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include navbar.html %}

    <main class="main" aria-label="Content">
      {{ content }}
    </main>

  </body>

  <script src="assets/js/nav.js"></script>

</html>
